.expense-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0, 25);
    padding: 0.5rem 2rem;
    margin: 1rem 3rem;
    border-radius: 12px;
    background-color: #8d8b8b;
    color: white;
}

.expense-item_description {
    display: flex;
    color: white;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}


.expense-item_price {
    font-weight: bold;
    color: white;
    background-color: #cb6923;
    padding: 0.5rem;
    border: 1px solid white;
    border-radius: 12px;
}